<html xml:lang="ja" dir="ltr"><head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS">
    <title>ログイン | Join@Web</title>
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="description" content="都内近郊のコンサート・イベントの登録制アルバイトです。">
    <meta name="keywords" content="コンサートスタッフ,短期アルバイト,登録制アルバイト,ライブスタッフ,イベントスタッフ,ジョイン,ｼﾞｮｲﾝ">
    <meta name="robots" content="index,follow">
    </head>
    <body>
    <div style="background:#ffffff;color:#000000;font-size:medium;">
    <a id="top" name="top"></a>
    
    <!-- header -->
    <!-- /header -->
    
    
    <!-- 会員ログイン -->
    <div style="text-align:center;background:#0066cc;color:#ffffff;">会員ﾛｸﾞｲﾝ</div>
    <div style="text-align:center;background:#dddddd;">
    <form name="form1" id="UsersLoginForm" method="post" action="/mobile/users/login" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"></div><span class="err"><font color="red"></font></span><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
    <tbody><tr>
    <td>ﾛｸﾞｲﾝID</td>
    <td>
        <input name="data[Staff][login_id]" type="text" style="width:150px;" size="15" id="StaffLoginId"></td>
    </tr>
    <tr>
    <td>ﾊﾟｽﾜｰﾄﾞ</td>
    <td>
        <input type="password" name="data[Staff][password]" style="width:150px;" size="15" id="StaffPassword"></td>
    </tr>
    </tbody></table>
    <div style="text-align:center;"><input type="submit" value="ﾛｸﾞｲﾝ"></div>
    <a href="mailto:password@join-kk.jp?subject=そのまま送信してください">パスワードを忘れた方</a><br><br>
    ※会員登録した際の機器で接続してください。<br>
    ※空メール送信時には本文に空白を1文字入力して送信してください。<br>
    ※着信許可ドメイン登録または送信元制限を解除してください。<br>
    </div>
    <!-- /会員ログイン -->

    
    <!-- footer -->

    </div>
    <!-- /footer -->
    </div>
    
    
    </body></html>